/* Message box  */

.ok_btn_align{
    padding:15px 0px 0px 15px;
}
.ok_btn{
    background:url(../images/popupbtn.png) no-repeat;
    width:70px;
    height:20px;
    color:#FFF;
    font-size:14px;
    text-align:center;
    font-weight:bold;
    float:left;
}
.ok_btn a{
    color:#FFF;
}
.ok_btn a:hover{
    color:#CCC;
}

.popup_msg{
    position:absolute;
    z-index:10;
    width:172px;
    height:102px;
    text-align:center;
    color:#FF0000;
    font: 14px Verdana, Arial, Helvetica, sans-serif;
    background:url(../images/bg_image.png) bottom right no-repeat;
    display:none;
}
.popup_msg p{
    color:#FFF;
    padding:10px 10px 0px 10px;
}
